
@media (max-width: 1440px) {
    .user-btn{
        text-align: center;
      }
    .image-container, .image-container-right{
        height: 500px;
        width: 460px;
    }
    .navbar{
        z-index: 0;
    }
    .close-btn{top: 0;}
    .about-boast-sec {
        background-position: -150px 80px;
    }
    .footer-sec {
        padding: 4rem 0 2rem;
    }
    .copy-right {
        font-size: 18px;
    }
    .foot-text {
        padding: 5rem 0rem 4rem 0;
    }
    .contact-wrapper {
        padding: 5rem 2rem 0 0;
    }
    .main-heading {
        font-size: 30px;
    }
    .heading-wrapper img {
        margin-bottom: 25px;
    }
    .sub-heading {
        margin: 0px 0 20px;
    }
    .content-wrapper p {
        margin: 25px 0;
    }
    .golf-sec .our-mission p {
        margin: 10px 0 30px;
        padding-right: 15px;
    }
    .main-heading br {
        display: none;
    }

    .golf-sec .content-box {
        width: 600px;
    }
}
@media (min-width: 1200px) {
    .container {
        max-width: 1400px
    } 
   
}

@media (max-width: 1280px) {
    .image-container, .image-container-right{
        width: 400px;
    }
    .menu-content{
        padding: 10px;
    }
    .menu-links li a {
        font-size: 40px;
        line-height: 80px;
    }
    p {
        font-size: 16px;
      }
    .border-right{
        border: none;
        padding: 0;
    }
    .item-content-left{
        padding-left: 16px;
    }
    .item-content-right{
        padding-right: 16px;
    }
    .about-boast-sec .content-box{
        position: relative;
    }
    .golf-sec .content-box {
<<<<<<< HEAD
        position: relative;
        right: 0;
=======
        top: auto;
        right: 50px;
        width: 500px;
>>>>>>> 27e7f2c5b3010190798ac38f046c8de1a8af728d
    }
    .main-heading{
        font-size: 28px;
    }
    .our-mission .sub-heading{
        font-size: 16px;
    } 
    .golf-sec .our-mission p{
        font-size: 16px;
    }
    .sub-heading{
        font-size: 16px;
    }
    .default-btn{
        font-size: 16px;
    }
    .content-wrapper p{
        font-size: 16px;
        margin: 30px 0;
    }
    .heading-min{
        font-size: 28px;
    }
    .about-boast-sec {
        background-position: -320px 80px;
    }
    .content-box.dark-box p{
        padding-right: 0;
        font-size: 16px;
    }
}

@media (max-width: 1120px) {
    .image-container, .image-container-right{
        width: 340px;
    }
    .club-sec .heading-wrapper br {
        display: none;
    }
    .heading-wrapper img {
        margin: 15px auto;
    }
    .club-sec  .default-btn{
        margin-bottom: 15px;
    }
     .paragraph-margin{
        padding: 0;
     }
     .club-sec .content-wrapper p{
        padding: 0;
     }
     .foot-list{
        justify-content: center;
     }
     .footer-sec .col-md-5 {
        flex: 100%;
        width: 100%;
        text-align: center;
    }
    .foot-text {
        padding: 5rem 0 2rem;
    }
    .footer-sec .col-md-3 {
        flex: 100%;
        width: 100%;
        text-align: center;
    }
    .footer-sec .col-md-4 {
        flex: 100%;
        width: 100%;
        text-align: center;
    }
    .social-media{
        justify-content: center;
        gap: 40px;
        padding: 1rem 0;
    }
    .top-space{
        margin-top: 3rem;
    }
    .header-btn {
        padding: 20px;
    }
}

@media (max-width: 992px) {
<<<<<<< HEAD
   
=======
    .golf-sec .content-box {
        position: relative;
        top: 0;
        right: 0;
        width: auto;
    }
>>>>>>> 27e7f2c5b3010190798ac38f046c8de1a8af728d
    .item-img-left {
        grid-column: col-start / span 5;
        grid-row: 1 / 2;
        margin-top: 0;
    }
    .item-content-left {
        grid-column: col-start 7 / span 6;
        grid-row: 1 / 2;
        align-self: center;
    }
    .item-img-right {
        grid-column: col-start 8 / span 5;
        grid-row: 2 / 3;
    }
    .item-content-right{
        grid-row: 2 / 2;
        padding-left: 40px;
        grid-column: col-start / span 6;
    }
    section{
        padding: 3rem 0;
    }
    .life-btn {
        font-size: 14px;
        padding: 15px;
    }
    .header-btn {
        padding: 13px;
        font-size: 14px;
    }
    .item-img-left img ,.item-img-right img{
        height: auto;
    }
    .footer-sec .contact-wrapper span{
        font-size: 16px;
    }
    .copy-right{
        font-size: 16px;
    }
    .social-media img {
        width: 20px;
        height: auto;
    }
    .footer-sec{
        padding: 3rem 0;
    }
    .custom-section{
        padding: 6rem 0 3rem;
    }
    .golf-sec .content-box br {
        display: none;
    }
    .line-ft{
        width: 40%;
    }
    .menu-img-wrapper {
        display: flex;
        justify-content: center;
    }
    .menu-links li a {
        font-size: 30px;
    }
    .content-box.dark-box {
        padding: 34px 30px 42px;
        right: 80px;
    }
}

@media screen and (max-width: 768px) {
    .card-wrapper{margin: 10px 0;}
    .club-sec .content-wrapper{
        text-align: center;
    }
    .main-heading {
        font-size: 24px;
    }
    .item-content-left{
        grid-column: col-start 6 / span 7;
    }
    .item-content-right{
        grid-column: col-start / span 7;
    }
    .image-container-right {
        display: none;
    }
    .content-box.dark-box {
        right: 15px;
        background: #0069aab8;
    }
    .golf-sec .content-box {
        width: auto;
        bottom: 490px;
        background: #0069aa8a ;
    }
    .footer-sec .col-xl-6.col-lg-7{
        display: flex;
        justify-content: center;
        text-align: center;
    }
    .lifestyle-sec .content-wrapper p {
        padding: 0 ;
    }
}

@media screen and (max-width: 767px) {
   
}

@media (max-width: 575px) {
    .navbar{
        flex-wrap: wrap;
        justify-content: space-evenly;
        padding: 10px;
        gap: 15px;
    }
    .menu-img-wrapper{
        display: none;
    }
    .about-boast-sec {
        height: auto;
    }

    .heading-min {
        font-size: 28px;
        margin: 0;
        line-height: 130%;
    }
    
    .layoutSet {
        padding: 15px;
        gap: 30px;
        text-align: center;
    }
    .layoutSet div {
        grid-column: col-start / span 12;
        padding: 0;
    }
    .item-img-left img, .item-img-right img {
        border-radius: 20px;
    }
    
    .item-img-left {
        grid-row: 1 / 2;
    }
    .item-content-left {
        grid-row: 2 / 3;
    }
    .item-content-right {
        grid-row: 4 / 5;
        text-align: center;
    }
    .item-img-right {
        grid-row: 3 / 4;
    }

    .foot-list {
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 414px) {
 
}

@media screen and (max-width: 375px) {
   
}
